@model MvcBookStore.Models.GIAY

@{
    ViewBag.Title = "ThemmoiGiay";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÊM GIÀY MỚI</h2>
@*Them thuoc tinh cho form de upload anh*@
@using (Html.BeginForm("ThemmoiGiay", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TenGiay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenGiay)
                @Html.ValidationMessageFor(model => model.TenGiay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Giaban, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Giaban)
                @Html.ValidationMessageFor(model => model.Giaban)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mota, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="Mota">Mô tả chi tiết</textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Anhbia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fileUpload" />
                @*thong bao trung*@
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ngaycapnhat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="Ngaycapnhat" />
                @Html.ValidationMessageFor(model => model.Ngaycapnhat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Soluongton, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Soluongton)
                @Html.ValidationMessageFor(model => model.Soluongton)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaLoai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaLoai")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNSX, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNSX")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="THÊM MỚI" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("VỀ TRANG QUẢN LÝ GIÀY", "giay")
</div>
